[menu __main __octoprint]

[gcode_macro START_PRINT]
gcode:
        M220 S100 ;Reset Feedrate
        M221 S100 ;Reset Flowrate

        G28 ;Home

        G92 E0 ;Reset Extruder
        G1 Z2.0 F3000 ;Move Z Axis up
        G1 X10.1 Y10 Z0.3 F5000.0 ;Move to start position
        G1 X10.1 Y200.0 Z0.3 F1500.0 E15 ;Draw the first line
        G1 X10.4 Y200.0 Z0.3 F5000.0 ;Move to side a little
        G1 X10.4 Y10 Z0.3 F1500.0 E30 ;Draw the second line
        G92 E0 ;Reset Extruder
        G1 Z2.0 F3000 ;Move Z Axis up

[gcode_macro END_PRINT]
gcode:
        #Get Printer built volume dimensions
        {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
        {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}

        #Fix-up extruder
        G91                                            
        G1 E-2 F2700                                    
        G1 E-1.5 Z0.2 F2400                        
        G1 X5 Y5 F6000                               
        G1 Z10                                     
        G90                                        

        #Present print
        G1 Z{printer.toolhead.position.z + 10} F600
        G1 X{X_MAX / 2} Y{Y_MAX} F6000
        M106 S0                                      
        M104 S0                                       
        M140 S0                                 

        #Disable Steppers
        M84 X Y E


[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    ##### set defaults #####
    {% set x = params.X|default(230) %}      #edit to your park position
    {% set y = params.Y|default(230) %}      #edit to your park position
    {% set z = params.Z|default(10)|float %} #edit to your park position
    {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% set lift_z = z|abs %}
    {% if act_z < (max_z - lift_z) %}
        {% set z_safe = lift_z %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}    
      G1 Z{z_safe}
      G90
      G1 X{x} Y{y} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### set defaults #####
    {% set e = params.E|default(1) %} #edit to your retract length
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E{e} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro LED_AN]
gcode:
   SET_LED LED=my_neopixel RED=1.0 GREEN=1.0 BLUE=1.0

[gcode_macro LED_AUS]
gcode:
   SET_LED LED=my_neopixel RED=0.0 GREEN=0.0 BLUE=0.0

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

[menu __main __setup __calib __zoffset_calib_man]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Z offset cal.

[menu __main __setup __calib __zoffset_calib_man __start]
type: command
name: Start probing
gcode:
    G28
    PROBE_CALIBRATE

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BASE_BED_MESH_CALIBRATE
gcode:
    #before the original gcode
    BED_MESH_CLEAR
    QUAD_GANTRY_LEVEL
    G1 X125 Y125 Z5 F6000
    #the original gcode
    BASE_BED_MESH_CALIBRATE
    #after the original gcode

[menu __main __setup __calib __zoffset_calib_man __test_z]     
type: list
name: Test Z: 

[menu __main __setup __calib __zoffset_calib_man __test_z __+001]     
type: command
name: +0.01
gcode: TESTZ Z=0.01

[menu __main __setup __calib __zoffset_calib_man __test_z __+005]     
type: command
name: +0.05
gcode: TESTZ Z=0.05

[menu __main __setup __calib __zoffset_calib_man __test_z __+010]     
type: command
name: +0.1
gcode: TESTZ Z=0.1

[menu __main __setup __calib __zoffset_calib_man __test_z __+050]     
type: command
name: +0.5
gcode: TESTZ Z=0.5

[menu __main __setup __calib __zoffset_calib_man __test_z __-050]     
type: command
name: -0.5
gcode: TESTZ Z=-0.5

[menu __main __setup __calib __zoffset_calib_man __test_z __-010]     
type: command
name: -0.1
gcode: TESTZ Z=-0.1

[menu __main __setup __calib __zoffset_calib_man __test_z __-005]     
type: command
name: -0.05
gcode: TESTZ Z=-0.05

[menu __main __setup __calib __zoffset_calib_man __test_z __-001]     
type: command
name: -0.01
gcode: TESTZ Z=-0.01

[menu __main __setup __calib __zoffset_calib_man __accept]     
type: command
name: Accept
gcode: ACCEPT

[menu __main __setup __calib __zoffset_calib_man __abort]
type: command
name: Abort
gcode: ABORT

[menu __main __setup __calib __bed_screws_adjust]

type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Bed Leveling

[menu __main __setup __calib __bed_screws_adjust __start]
type: command
name: Start probing
gcode:
    G28
    BED_SCREWS_ADJUST

[menu __main __setup __calib __bed_screws_adjust __adjusted]
type: command
name: Adjusted
gcode: ADJUSTED

[menu __main __setup __calib __bed_screws_adjust __accept]
type: command
name: Accept
gcode: ACCEPT

[menu __main __setup __calib __bed_screws_adjust __abort]
type: command
name: Abort
gcode: ABORT
